<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>brav testing</title>
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

    <link rel="stylesheet" href="/panel/assets/css/material-dashboard.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css" />

</head>

<body>
    <div class="wrapper">
        <% include ./brav/sidebar %>
        <div class="main-panel">
            <% include ./brav/navbar %>
            <div class="content">
                <div class="container-fluid">
                    <%- body -%>
                </div>
            </div>
        </div>
    </div>

    <script src="/panel/assets/js/core/jquery.min.js"></script>
    <script src="/panel/assets/js/core/popper.min.js"></script>
    <script src="/panel/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="/panel/assets/js/core/bootstrap-material-design.min.js"></script>
    <script src="/panel/assets/js/material-dashboard.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>

    <script>
        $(document).ready(function () {
            var calendar = $('#calendar').fullCalendar({
                editable: true,
                header: {
                    left: 'prev,',
                    center: 'title',
                    right: 'next'
                },
                events: '/data',
                selectable: false,
                selectHelper: false,
                editable: false,
            });
        });
    </script>
</body>

</html>