<% layout('panel') -%>

<div class="row">
    <h5>Create Video call</h5>
    <div class="col-md-10">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Password</span>
                        </div>
                        <input class="form-control" type="password" name="roomid" placeholder="Join call password"
                            aria-label="Recipient's password">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <h5>Join Video call</h5>
    <div class="col-md-10">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Password</span>
                        </div>
                        <input class="form-control" type="password" name="roompassword" placeholder="Join call password"
                            aria-label="Recipient's password">
                        <div class="input-group-append">
                            <button class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>