<% layout('panel') -%>
<%if(message.length >0){%>
<div class="alert alert-info">
    <div class="container">
        <div class="alert-icon">
            <i class="material-icons">info_outline</i>
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="material-icons">clear</i></span>
        </button>
        <b>Info alert:</b>
        <%= message %>
    </div>
</div>
<%  } %>
<a class="btn btn-primary" href="/addaschedule">SCHEDULE A SESSION</a>
<div id="calendar"></div>